<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilos.css">
    <title>Document</title>
</head>
<body>
    <h1>Hola Usuario</h1>
    <h2>Bienvenido a mi sitio Flask</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam vel amet, iure ea assumenda aspernatur. Laboriosam ullam odio, hic rem in fugit nisi at accusantium iste placeat necessitatibus molestiae accusamus?</p>
</body>
</html>
