{% extends 'base.html'%}

{%block title%}Firmware{%endblock%}

{%block seccion_h1%}Microbit: Firmware{%endblock%}

{%block content%}
    <h2>Lorem ipsum</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p> Molestiae, consequatur eum. Fuga consectetur, soluta sequi illum doloremque laborum fugiat unde labore reiciendis assumenda aliquam sapiente eligendi voluptatum cupiditate dignissimos. Esse.</p>
    <h2>Otro Lorem</h2>
    <p> Molestiae, consequatur eum. Fuga consectetur, soluta sequi illum doloremque laborum fugiat unde labore reiciendis assumenda aliquam sapiente eligendi voluptatum cupiditate dignissimos. Esse.</p>
{%endblock%}